// Secondary Colors
$secondary-white: #fAfAfA;
$secondary-light-gray: #f4f6f8;
$secondary-gray: #9daec2;
$secondarty-dark-gray: #6e8098;
$dark-000: #202C36;
$dark-001: #626b72;
//variables
$medium: 780px;


