@use 'styles/abstracts/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// Secondary Colors
$secondary-white: #ffffff;
$secondary-light-gray: #f4f6f8;
$secondary-gray: #9daec2;
$secondarty-dark-gray: #6e8098;
$dark-000: #202C36;
$dark-001: #626b72;
//variables
$medium: 780px;




html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%; /* 1rem =10px; */
  background-color: var(--background-color);
 
}


button { all: unset; } 


a {
  color: inherit;
  text-decoration: none;
}


