@import "../../styles/base/globals" ;
.SearchComponent {
    display: flex;
    justify-content: space-around;
   
    input {
    width: 34.3rem;
    height: 4.8rem;
    justify-self: auto;
    align-items: center;
      padding: 8px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      margin-bottom: 10px;
      
    
      @media screen and (min-width: $medium) {
        width: 48rem;
        height: 5.6rem;
      }
      &::placeholder{
        color: #999; /* Placeholder text color */
        font-style: bold; /* Placeholder text style */
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
    
  }


  @media (prefers-color-scheme: dark) {
    .SearchComponent{
    background-color: #2B3844;
   }
  }
 